/* Smartphones, (portrait and landscape) */
@media screen and (orientation: landscape)
{
html, body {
            margin: 0px;
            border: 0;
            overflow: hidden; 
            display: block;
        }

        canvas {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
        }
	
}

@media screen and (orientation: portrait)
{
html, body {
            margin: 0px;
            border: 0;
            overflow: hidden; 
            display: block;
        }

        canvas {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
        }
	
}
