/* Smartphones, (portrait and landscape) */
@media screen and (orientation: landscape)
{
        canvas {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
        }
	
}

@media screen and (orientation: portrait)
{

        canvas {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
        }
	
}
